.container {
  min-height: 100px;
  padding: 20px;
  margin: 20px;
  font-weight: 500;
  color: rgb(7, 6, 112);
  background-color: rgb(140, 166, 189);
}

.container1{
  min-height: 100px;
  padding: 20px;
  margin: 20px;
  font-weight: 500;
  color: white;
  background-color: white;
}

.box{
  padding: 10px 15px;
  background: white;
  margin-top:30px;
  margin-bottom:40px;
  color:rgb(7, 6, 112);
  background-color: white;
}

.row{
  padding-bottom: 25px;
}


.TextWrap {
  clear: left;
  float: left;
  margin: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f1f1f1;
}

.title {
  font-size: 80px;
  color: rgb(7, 6, 112);
}

.text-center {
  font-size: 40px;
  color: rgb(7, 6, 112);

}

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
  background: #5191fd;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

#nav-select {
  visibility: hidden;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }

  .box{
    margin-right: 30px;
    margin-left: 30px;
  }
}

